[tool.poetry]
name = "poetry-publish"
version = "0.1.0"
description = ""
authors = ["JensDiemer <git@jensdiemer.de>"]

[tool.poetry.dependencies]
python = "^3.6"

[tool.poetry.dev-dependencies]
pytest = "^4.6"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
